.services {
  margin-bottom: 2.6rem;

  @media (max-width: 992px) {
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.services__title {
  margin-bottom: 2rem;

  font-size: 2rem;
  line-height: 2;

  @media (max-width: 992px) {
    margin-bottom: 1rem;
  }
}

.services__item {
  padding: 1.5rem 2rem 1.25rem 1.4rem;
  height: 100%;

  position: relative;

  border-radius: $bord-rad-10;

  background-color: $white;
  box-shadow: $shadow;

  display: block;
  color: $black;

  &:hover {
    background-color: rgba(180, 221, 240, 0.774);
  }

}

.services__icon {
  width: 50px;
  height: 50px;
}

.services__item-title {
  font-size: 1.4rem;
  font-weight: 500;
}

.services__text {
  margin-top: 1rem;

  line-height: 1.4;
}
