 .social {
   display: flex;
   align-items: center;
 }

 .social__text {
   margin-right: 1.8rem;

   font-size: 0.8rem;
   font-weight: 600;
   color: $black;
 }

 .social__link {
   margin-right: 1rem;

   &:hover .social__icon  {
     fill: $black;
   }
 }

 .social__icon {
   display: block;

   height: 30px;
   width: 30px;

   fill: #adadad;

   transition: fill 0.3s linear;

   &--vk {
     width: 25px;
   }

   &--fb {
     width: 16px;
   }

   &--instagram {
     width: 20px;
   }
 }
